@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #0d0d12;
  --text-primary: #e4e6eb;
}

body {
  font-size: 13px;
  line-height: 1.5;
  color: var(--text-primary);
  background: var(--bg-primary);
}
